*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: white;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}

.wrapper{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: start;
    width: 60%;
}

.insta-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-phone img{
    height: 41rem;
}

.insta-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.profile-photo img{
    height: 6rem;
}

.insta-login{
    background: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}

.insta-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
}

.get-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1px;
    width: 100%;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size:cover ;
}

.app-download:nth-child(1){
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2){
    background-image: url('./img/googleplay-button.png');
}

/*media query*/

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}