* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background: #ddd;
}

button{
	background: none;
	border: none;
	cursor: pointer;
}

.form {
    padding: 20px 20px 50px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: palegoldenrod;
}
.container-input {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 300px;
    margin: 15px;
}

label {
    text-transform: uppercase;
    font-size: 1.1rem;
    width: 35%;
    max-width: 100px;
}
.submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 0;
}

.submit button {
    background: darkgreen;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 7px 5px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.submit button:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 5px #202932;
}

input {
    width: 65%;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(0, 76, 255);
    font-size: 1.3rem;
    padding: 0 5px;
}

input.input-placa {
    display: block;
    letter-spacing: 0.33rem;
}
input:focus {
    outline: none;
    color: dodgerblue;
}

.contain-table {
    width: 90%;
    display: flex;
    justify-content: center;
	margin: auto;
}

.delete{
	background-color: crimson;
	color: #fff;
	width: 30px;
	height: 25px;
	border-radius: 5px;
}

table {
    display: block;
    max-width: 600px;
    margin-top: -40px;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}

tbody {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

thead tr {
    width: 100%;
    background-color: dodgerblue;
    padding: 10px 8px;
    color: #fff;
}

th{
	text-transform: uppercase;
}

th, td{
	border: none;
    padding: 1rem .6rem;
    font-size: .95rem;
    font-weight: 400;
	text-align: center;
}

tr {
    transition: transform 0.3s ease-in;
    margin: 5px 0;
}

tbody tr:nth-child(2n) {
    background-color: rgb(169, 162, 162);
    padding: 10px 8px;
}

tbody tr:hover {
    transform: scale(1.1);
}